[submodule "primesensor"]
	path = primesensor
	url = git@github.com:manctl/primesensor
[submodule "sensorkinect"]
	path = sensorkinect
	url = git@github.com:manctl/primesensor
[submodule "pcl"]
	path = pcl
	url = git@github.com:manctl/pcl
[submodule "openni"]
	path = openni
	url = git@github.com:manctl/openni
[submodule "usb"]
	path = usb
	url = git@github.com:manctl/usb
[submodule "jpeg"]
	path = jpeg
	url = git@github.com:manctl/jpeg
