[submodule "primesensor"]
	path = primesensor
	url = git://github.com/manctl/primesensor
[submodule "sensorkinect"]
	path = sensorkinect
	url = git://github.com/manctl/primesensor
[submodule "pcl"]
	path = pcl
	url = git@github.com:manctl/pcl.git
